body {
    background: #777;
    width: 960px;

}

.header {
    color: #777;
    background: #ebebeb;
    border: solid #777;
    height: 95px;
    width: 960px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    margin-left: 15%;
    margin-right: 10%;
}
.nav {
    color:#777;
    background: #ebebeb;
    border: solid #777;
    height: 95px;
    width: 960px;
    text-align: center;
    font-size: 18px;
    font-family: helvetica;
    margin-left:15%;
    margin-right: 10%;
}
.section {
   color:#777;
   background: #ebebeb;
   width: 600px;
   height:285px;
   text-align: center;
   font-size: 16px;
   font-family: helvetica;
   margin-left: 15%;
   float: left;
   margin-top: 25px;
}


.article {
    background: #777;
    color: #ebebeb;
    width: 530px;
    height: 175px;
    text-align: center;
    font-family: helvetica;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 35px;
    margin-right: 5px;
    padding: 15px;
}
.h1 {
    background: #ebebeb;
    color: #777;
    width: 500px;
    height: 50px;
    font-family: helvetica;
    margin-left: 15px;
    text-align: center;
    }

.p {
    background: #ebebeb;
    color: #777;
    width: 500px;
    height: 50px;
    font-family: helvetica;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom:15px;
    
    }

.aside {
    background: #ebebeb;
    color: #777;
    font-family: helvetica;
    font-size: 24px;
    text-align: center;
    height: 280px;
    width: 340px;
    margin-left: 767px;
    margin-top:  25px;
    
 }



  .footer {
    color: #777;
    background: #ebebeb;
    border: solid #777;
    width: 960px;
    height: 95px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    margin-left: 15%;
     }


